extends ../layout/index.pug
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Imagen de nosotros")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita nobis atque sequi qui amet ea molestias quibusdam ipsa, corrupti, aut unde laudantium ipsam sapiente non ullam ex hic perspiciatis repellat quidem minus sit corporis nesciunt?
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit cum quaerat dolore laudantium eius laboriosam maiores. Cupiditate eligendi voluptatibus odit commodi iusto consequuntur, fugiat reiciendis vel quos eos fuga corrupti asperiores enim. Nostrum cumque fugit hic eius delectus, incidunt mollitia nesciunt rem harum. Consequatur molestias explicabo rerum maiores, dolor aut esse expedita similique est numquam sequi nam architecto, error dolorem.
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor dolore laboriosam recusandae. Sit necessitatibus excepturi, adipisci sunt hic perspiciatis sapiente.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum at rem odit earum mollitia, dolore eligendi reprehenderit?
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum at rem odit earum mollitia, dolore eligendi reprehenderit?
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum at rem odit earum mollitia, dolore eligendi reprehenderit?